<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>{article.name}</title>
</head>
<body>
	<h1><span th:text="${article.name}"></span></h1>
	<h4>Category: <span th:text="${article.category.name}"></span></h4>
	<h4>Made by <span th:text="${article.author.name}></span></h4>
	<h4><span th:text="${article.date}"></span></h4>
	<a><span th:text="${article.content}"></span></a>
	<h2>Comments:</h2>
	<h4><span th:text="${article.comment.date}"></span></h4>
	<h4><span th:text="${article.comment.idauthor}"></span></h4>
	<a><span th:text="${article.comment.text}"></span><a>
</body>
</html>