<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Blog home page</title>
</head>
<body>
	Welcome to the blog home page!
	<!--
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Password</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="author: ${authors}">
				<td><span th:text="${author.id}"></span></td>
				<td><span th:text="${author.username}"></span></td>
				<td><span th:text="${author.password}"></span></td>
				<td><span th:text="${author.Email}"></span></td>
			</tr>
		</tbody>
	</table>
	-->
</body>
</html>