<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Blog home page</title>
</head>
<body>
	Welcome to the blog home page!
	<!--
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Password</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${users}">
				<td><span th:text="${user.id}"></span></td>
				<td><span th:text="${user.username}"></span></td>
				<td><span th:text="${user.password}"></span></td>
				<td>
					<a th:href="@{/updateUser/{id}(id=${user.id})}">
						Update
					</a><br/>
					<a th:href="@{/deleteUser/{id}(id=${user.id})}">
						Delete
					</a>				
				</td>
			</tr>
		</tbody>
	</table>
-->
</body>
</html>